/* Global Styles */
body {
    font-family: 'Playfair Display', Open Sans, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

/* Header Styles */
header {
    background-color: #669B99;
    color: #fff;
    padding: 25px;
    text-align: center;
}

nav a {
    transition: color 0.4s ease;
}
nav a:hover {
    color: #333;
}

header h1 {
    font-family: 'Gowun Batang', serif;
    font-weight: 700;
    font-size: 5em;
    color: #080406;
    text-shadow: 3px 2px 4px rgba(1, 1, 1, 0.3);
    background-color: rgba(0, 0, 0, 0.1); /* Adds a semi-transparent black backdrop */
    padding: 15px;
    display: inline-block;
    border-radius: 8px; /* Optional: rounded corners */
}


/* Navigation Styles */
nav {
    margin: 0;
    padding: 15px;
    background-color: #ffffff;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

nav a {
    text-decoration: none;
    color: #669B99;
    font-weight: bold;
    margin: 0 15px;
    font-size: 1.1em;
}

nav a:hover {
    color: #333;
}

/* Main Content Styles */
section {
    background-color: #ffffff;
    margin: 40px auto;
    padding: 20px;
    max-width: 800px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

section h2 {
    color: #669B99;
    font-size: 2.2em;
    margin-bottom: 15px;
}

section p {
    font-size: 1.1em;
    line-height: 1.8;
    color: #333;
}

/* Footer Styles */
footer {
    margin-top: auto;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 15px 0;
}

footer p {
    margin: 0;
    font-size: 1em;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    section {
        padding: 10px;
        margin: 20px;
    }

    header h1 {
        font-size: 1.8em;
    }
}

/* Service Card Styles */
.service-card img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 15px;
    max-height: 200px;
    object-fit: cover;
}

/* Hero Section Styles */
.hero-image {
    text-align: center;
    padding: 50px 20px;
}

.hero-image img {
    width: 100%;
    max-width: 600px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.hero-image h1 {
    color: #006561;
    font-size: 2.5em;
}

.hero-image p {
    font-size: 1.2em;
    color: #333;
}

/* About Us Section */
.about-us {
    text-align: center;
    padding: 40px 20px;
}

.about-image {
    width: 100%;
    max-width: 600px;
    border-radius: 10px;
    margin-bottom: 20px;
}

#topBtn {
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  background-color: #003331;
  color: white;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

#topBtn:hover {
  background-color: #006561;
}
